@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&display=swap');

:root {
  --blue: #9bd3db;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px dotted red; */
  font-family: 'Alegreya Sans', sans-serif;
}

body {
  margin-left: 1rem;
  margin-top: 1rem;
}

#logo {
  width: 25px;
  height: auto;
  margin: 0 1rem;
}

.header-container {
  display: flex;
  align-items: center;
  /* margin-top: 1rem;
  margin-left: 1rem; */
}

header h1 {
  letter-spacing: 0.1rem;
  margin-bottom: -8px;
  font-size: 3rem;
  font-family: 'DM Serif Display', serif;
}

header p {
  text-transform: uppercase;
  font-weight: bold;
  color: var(--blue);
  letter-spacing: 1.2rem;
}

.name {
  transform: translateY(-10px);
}

#main {
  margin-left: 3rem;
  margin-top: 0.5rem;
}

#main > ul {
  list-style: none;
  width: 600px;
}

#main > ul > li {
  display: block;
  font-family: 'DM Serif Display', serif;
  font-size: 1.5rem;
  cursor: pointer;
  font-style: italic;
  text-decoration: none;
  position: relative;
  background: transparent;
  color: #000;
}

#main > ul > li.link::after {
  /* background: none repeat scroll 0 0 transparent; */
  bottom: 0;
  content: '';
  height: 15px;
  left: 0;
  position: absolute;
  background: var(--blue);
  /* transition: width 0.4s ease 0s, left 0.3s ease 0s; */
  /* width: 0; */
  z-index: -1;
}

#main > ul > li.link:hover::after {
  width: 300px;
  left: 0;
  /* transition: width 0.6s ease 0s, left 0.3s ease 0s; */
  transition: width 0.6s;
}

#main > ul > li.active::after {
  bottom: 0;
  content: '';
  height: 15px;
  left: 0;
  position: absolute;
  background: var(--blue);
  transition: width 0.6s ease 0s, left 0.3s ease 0s;
  width: 100%;
  z-index: -1;
}

.skills-list {
  display: flex;
}

.skills-list ul {
  margin-right: 2rem;
  list-style: none;
}
.skills-list ul li {
  font-family: inherit;
  font-size: inherit;
}

.education ul {
  margin-right: 2rem;
  list-style: none;
}

#main > ul > div.content {
  /* display: none; */
  max-height: 0;
  visibility: hidden;
  opacity: 0;
  max-width: 100vw;
  padding: 0;
  margin: 0;
  transition: all 0.8s ease-in-out;
}

#main > ul > div.content.active {
  visibility: visible;
  opacity: 100%;
  margin-top: 1rem;
  max-width: 100vw;
  max-height: 30em;
  transition: max-height 0.8s ease-in-out, width 0.8s cubic-bezier(0, 1, 0, 1);
  margin-bottom: 1rem;
}

div.card {
  width: 600px;
  max-width: 100vw;
  padding: 1rem;
  margin-right: 1rem;
  margin-bottom: 1.5rem;
  /* border-radius: 6px; */
  /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.2); */
}

.projects {
  display: flex;
  flex-direction: column;
}

.project {
  flex: 1 0 50%;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
}

i {
  color: var(--blue);
  padding: 0.3rem;
  margin-top: 0.3rem;
}

@media only screen and (max-width: 600px) {
  ul {
    width: 100vw;
  }
  #main > ul > div.content.active {
    width: 400px;
  }
}
